<!DOCTYPE HTML>
<!--
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Daily IT/Digital News Monitoring</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta property="og:title" content="Daily IT/Digital News Monitoring" />
	<meta property="og:description" content="오늘의 네이버 IT 뉴스를 살펴보아요" />
	<meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}" />
	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->

	<link rel="stylesheet" href="{{ url_for('static', filename='css/skel.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style-wide.css') }}" />

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/skel-layers.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/init.js') }}"></script>


	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->

	<!-- jquery import -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Datepicker -->
	<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css"> -->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		$(function () {
			$("#datepicker").datepicker();
		});
	</script>


	<script>
		function crawling() {

			// 1. date랑 category 가져오기
			let date = $('#datepicker').val();
			let category = $('input[type="radio"][name="radio"]:checked').val();

			//2. 날짜 또는 카테고리 미선택 시 팝업 띄우기
			if (date == '') {
				alert('날짜를 선택해 주세요');
				return;
			} else if (category == undefined) {
				alert('뉴스 카테고리를 선택해 주세요');
				return;
			}

			// 3. /itnews 에 크롤링 요청하기
			$.ajax({
				type: "POST",
				url: "/itnews",
				data: { date_give: date, category_give: category },
				success: function (response) {
					if (response['result'] == 'success') {
						window.location.reload(); //새로고침
					}
				}
			})
		}

		$(document).ready(function () {
			$('#contents').html('');
			show();
		});

		function show() {
			$.ajax({
				type: "GET",
				url: "/itnews",
				data: {},
				success: function (response) {
					if (response['result'] == 'success') {

						let dailynews = response['all_dailynews']

						for (let i = 0; i < dailynews.length; i++) {
							let dailynew = dailynews[i];
							let title = dailynew['title'];
							let articleurl = dailynew['articleurl'];
							let summary = dailynew['summary'];
							// let image = dailynew['image'];

							let temp_html = `<section class="4u"> <a href="#" class="image featured"><img src="#" alt=""></a>
												<div class="box">
													<p>${title}</p>
													<p>${summary}</p>
													<a href="${articleurl}" target="_blank" class="button">기사보기</a>
												</div>
											</section>`
							$('#contents').append(temp_html);
						}
					}
				}
			})
		}

		// function db_delete() {
		// 	$.ajax({
		// 		type: "GET",
		// 		url: "/itnews",
		// 		data: {},
		// 		success: function (response) {
		// 			if (response['result'] == 'success') {
		// 				window.location.reload();
		// 			}
		// 		}
		// 	})
		// }
	</script>


</head>

<body>

	<!-- Wrapper -->
	<div class="wrapper style1">

		<!-- Header -->
		<div id="header" class="skel-panels-fixed">
			<div id="logo">
				<h1><a href="index.html">Daily IT/Digital News Monitoring</a></h1>
			</div>
		</div>

		<!-- Banner -->
		<div id="banner" class="container">
			<section>
				<p>
					<input type="text" id="datepicker">
				</p>
				<p>
					<input type="radio" name="radio" value="731">모바일
					<input type="radio" name="radio" value="226">인터넷/SNS
					<input type="radio" name="radio" value="227">통신/뉴미디어
					<br>
					<input type="radio" name="radio" value="230">IT 일반
					<input type="radio" name="radio" value="732">보안/해킹
					<input type="radio" name="radio" value="283">컴퓨터
				</p>
				<div>
					<button onclick="crawling()">검색</button>
					<!-- <button onclick="db_delete()">초기화</button> -->
				</div>
			</section>
		</div>

		<!-- Extra -->
		<div id="extra">
			<!-- 3개씩 묶어야 예쁘게 보이는데 어떻게 tempHtml 만들지..? -->
			<div class="container">

				<div class="row no-collapse-1" id="contents">
					<section class="4u"> <a href="#" class="image featured"><img
								src="https://imgnews.pstatic.net/image/092/2020/06/18/0002191501_001_20200618122205029.jpg"
								alt=""></a>
						<div class="box">
							<p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum wisi
								maecenas ligula.</p>
							<a href="#" class="button">Read More</a>
						</div>
					</section>
					<section class="4u"> <a href="#" class="image featured"><img
								src="https://imgnews.pstatic.net/image/092/2020/06/18/0002191501_001_20200618122205029.jpg"
								alt=""></a>
						<div class="box">
							<p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum wisi
								maecenas ligula.</p>
							<a href="#" class="button">Read More</a>
						</div>
					</section>
					<section class="4u"> <a href="#" class="image featured"><img
								src="https://imgnews.pstatic.net/image/092/2020/06/18/0002191501_001_20200618122205029.jpg"
								alt=""></a>
						<div class="box">
							<p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum wisi
								maecenas ligula.</p>
							<a href="#" class="button">Read More</a>
						</div>
					</section>
				</div>
			</div>
		</div>

	</div>


	<!-- Copyright -->
	<div id="copyright">
		<div class="container">
			<div class="copyright">
				<p>Design: <a href="http://templated.co">TEMPLATED</a> Images: <a
						href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)</p>
				<ul class="icons">
					<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
			</div>
		</div>
	</div>

</body>

</html>